.header-wrapper {
  display: flex;
  flex-direction: column;

  background-color: $gray-color;
  background-image: url("../img/bg-dots.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-dots@2x.jpg");
  }
}
