@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin transition {
  transition: all ease 0.3s;
}

@mixin wrapper {
  margin: 0 auto;
  max-width: 1514px;

  @media (min-width: $mobile-width) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 25px;
    padding-right: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-left: 50px;
    padding-right: 53px;
  }
}
