//Сетки
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$mobile-width-only: 767px;
$tablet-width-only: 1023px;

//Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//colors
$main-color: #ffffff;
$accent-color: #00b2ff;
$gray-color: #1b2d37;
$light-gray-color: #ebebeb;
$text-color: #666666;
$logo-dark-color: #203c42;
$logo-light-color: #788891;
$social-networks-color: #cdcdcd;
$footer-color: #fafafa;


//Шрифты
$font-pt-mono: "PT Mono", "Courier", monospace;
$font-roboto-condense: "Roboto Condensed", "Aria", sans-serif;
